*{
    list-style: none;
    text-decoration: none;
}


/* <--Colors--> */
    :root {
        /* Primary Colors */
        --soft-red: hsl(7, 99%, 70%);
        --yellow: hsl(51, 100%, 49%);
        --dark-desaturated-cyan: hsl(167, 40%, 24%); /*graphic design text*/
        --dark-blue: hsl(198, 62%, 26%);
        --dark-moderate-cyan: hsl(168, 34%, 41%);
        
        /* Neutral Colors */
        --very-dark-desaturated-blue: hsl(212, 27%, 19%);
        --very-dark-grayish-blue: hsl(213, 9%, 39%);
        --dark-grayish-blue: hsl(232, 10%, 55%);
        --grayish-blue: hsl(210, 4%, 67%);
        --white: hsl(0, 0%, 100%);
    }
  
/* <--Colors-end--> */ 


.title{
    font-size: 82px;
    letter-spacing: 13px;
    text-transform: uppercase;
    position: relative;
    margin: 0;
    display: grid;
    padding-top: 60px;
    transform: translateY(55%);
    color: var(--white) !important;
}


.fraunces {
    color: var(--very-dark-desaturated-blue);
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "SOFT" 0, "WONK" 0;
}

.title::after {
    content: "";
    position: absolute;
    background-image: url('icon-arrow-down.svg');
    width: 100%;
    height: 100%;
    left: 0%;
    bottom: -36%;
    transform: translateY(100%);
    background-repeat: no-repeat;
    background-position: center;
}



    .barlow-bold {
        font-family: "Barlow", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
  
    .barlow-black {
        font-family: "Barlow", sans-serif;
        font-weight: 900;
        font-style: normal;
    }
  
  

  .container{
        max-width: 100%;
        width: 1200px;
        margin: 0 auto;
  }

  /*<--Header-->*/

     .sunnyside {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background-color: #3ebfff;
    } 
    .sunnyside__logo img{
        object-fit: contain;
    }
    .sunnyside-menu__mobile {
        display: none;
    }
    .sunnyside-navigation {
        position: relative;
    }
    .sunnyside-menu {
        display: flex;
        align-items: center;
        gap: 43px;
        padding-right: 24px;
        margin: 0;
        padding-left: 0;
    }

    .sunnyside-menu a{
        color: var(--white);
    }

    .sunnyside-menu li:last-child a{
        background-color: var(--white);
        color: var(--dark-blue);
        border-radius: 20px;
        padding: 10px 20px
    }


/*<--Header-end*/

/* <--Section-sunny__we--> */

    .sunnyside-we {
        text-align: center;
        position: relative;
    }

    .sunnyside-hero{
        position: relative;
        background-image: url('./../images/desktop/image-header.jpg');
        padding-bottom: 55%;
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
    }


    .sunny-center::before{
        content: "";
        background-image: url('./../icon-arrow-down.svg');
        position: absolute;
        top: 0;
    }

    .sunnyside-hero img{
        width: -webkit-fill-available;
    }


    .title{
        position: absolute;
        z-index: 1;
        top: 11px;
        margin: 0;
        right: 0;
        left: 0;
        transform: translateY(55%);
    }

/* <--Section-sunny__we-end--> */

/* <--section-sunnyside__target--> */

    .sunnyside-target {
        text-align: justify;
    }
    .sunnyside-target__cards {
        display: grid; 
        grid-template-columns: repeat(auto-fill,minmax(min(500px,100%),1fr));
    }

    .sunnyside-target__card-letter{
        display: grid;
        place-content: center;
        padding: 0px 133px;
    }

    .sunnyside-target__card-letter h2{
        color: var(--very-dark-desaturated-blue);
        font-size: 47px;
    }

    .sunnyside-target__card-letter p{
        color: var(--very-dark-grayish-blue);
        font-size: 18px;
        padding-bottom: 34px;
    }

    .sunnyside-target__card-letter span{
        cursor: pointer;
        font-family: "Fraunces", serif;
        position: relative;
        text-transform: uppercase;
        border-bottom: 6px solid var(--yellow);
        width: fit-content;
        height: 14px;
        border-radius: 4px;
        
    }

    
    .sunny__color{
        border-bottom: 6px solid var(--soft-red) !important ;
    }

    .sunnyside-target__card-img img{
        width: 100%;
        height: 100%;
    }

    .position{
        position: relative;
    }

    .sunnyside-target__card-info h2{
        color: var(--very-dark-desaturated-blue);
        font-size: 30px;
    }

    .sunnyside-target__card-info p{
        color: var(--very-dark-grayish-blue);
        font-size: 18px;
    }

    .sunnyside-target__card-info{
        position: absolute;
        bottom: 0;
        transform: translateY(-35%);
        text-align: center;
        padding: 0px 183px;
    }
/* <--section-sunnyside__target-end--> */

/* <--section-sunnyside__client --> */

    .sunnyside-client {
        text-align: center;
        padding-top: 6%;
        padding-bottom: 7%;
    }

    .sunnyside-client__title{
        font-size: 28px;
        letter-spacing: 4px;
        color: var( --grayish-blue);
        text-transform: uppercase;
    }

    .sunnyside-client__testimonial {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(min(400px,100%),1fr));
    }
     .testimonial {
        padding: 43px;
    }
    
    .testimonial p{
        color: var(--very-dark-desaturated-blue);
        font-size: 18px;
        padding-bottom: 42px;
    }


    .testimonial__img img{
        border-radius: 100px;
        width: 15%;
    }
    .testimonial__name {
        display: block;
        color: var( --very-dark-desaturated-blue);
        text-transform: capitalize;
        font-family: 'Fraunces';
        font-weight: 900;
        padding-bottom: 10px;

    }
    .testimonial__charge {
        display: block;
        color: var( --grayish-blue);
        text-transform: capitalize;
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 12px;
    }


/* end */


/* gallerys */

.sunnyside-gallerys {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(min(300px,100%),1fr));

}
.gallery img{
    width: 100%;
    height: 100%;
}

 

/* footer */

.sunnyside-footer {
    padding: 50px 0;
    text-align: center;
    background: hsl(168, 34%, 48%);
}

.sunnyside-footer h3{
   color: var(--dark-desaturated-cyan);
   font-size: 30px;
   font-weight: 900;
}

.sunnyside-footer__info {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 45px;
    color: var( --dark-moderate-cyan);
    font-size: 18px;
    font-family: 'Fraunces';
    font-weight: 900;
}
.sunnyside-footer__social {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 20px;
}



.sunny-nav{
    display: block !important;
}


/* <--Mobile--> */

@media(max-width:785px){

    /* header */
        .sunnyside-menu__mobile {
            display: block;
            margin: 16px 22px;
            position: relative;
        }

        #menu{
            display: none;
        }

        .sunnyside-navigation {
           display: none;
           position: fixed;
           z-index: 11;
           top: 25px;
           right: 0;
           left: 0;
           transform: translateY(16%);
           background: white;
           border-radius: 0px 0px 0 0;
           width: 84%;
           margin: 0 auto;
           height: 65%;
        }

        .sunnyside-menu {
            flex-direction: column;
            padding: 25px 0;
            gap: 30px;
        }

        .sunnyside-menu a{
            color: var( --very-dark-grayish-blue);
        }
    
        .sunnyside-menu li:last-child a{
            background-color: var(--yellow);
            color: var(--dark-blue);
            border-radius: 20px;
            padding: 10px 20px
        }

    /*<--end-->*/
    /* section-1 */
        .title{
            transform: translateY(-14%);
            font-size: 55px;
            padding: 41px 185px;
            letter-spacing: 5px;
        }

        .title::after {
            transform: translateY(5%);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 30px;
        }

    /* end */

    .sunnyside-target{
        text-align: center;
    }

    .position-first{
       order: 1;
       padding-top: 8%;
       padding-bottom: 8%;
    }

    .sunnyside-target__card-letter span {
        margin: 0 auto;
    }

    .position-two{
        order:0

    }
    .position-three{
        order: 1;
        
    }
    .position-four{
        order: 1;
        padding-top: 8%;
        padding-bottom: 8%;
    }
    .position-five{
        order: 2;
    }
    .position-six{
        order: 2;
    }
}

@media(max-width:536px){

    .sunnyside-hero {
        position: relative;
        background-image: url(./../images/desktop/image-header.jpg);
        padding-bottom: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .title {
        transform: translateY(20%);
        font-size: 39px;
        padding: 39px 100px;
        letter-spacing: 5px;
    }

    .title::after {
        transform: translateY(41%);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 38px

    }   

    .sunnyside-target__card-letter h2{
        font-size: 33px;
    }


    .sunnyside-target__card-letter p{
        font-size: 14px;
    }

    .sunnyside-target__card-letter span{
        font-size: 14px;
    }

    .sunnyside-target__card-info{
        padding: 0px 50px;
        position: absolute;
        bottom: 0px;
        transform: translateY(-34%);
        text-align: center;
    }

    .sunnyside-target__card-info h2{ 
        font-size: 26px;
    }

    .sunnyside-target__card-info p{
        font-size: 14px;
        padding: 0px 56px;
    }


    .sunnyside-client__title{
        font-size: 19px;
    }

    .testimonial p{
        font-size: 16px;
    }

}